.chat-header {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: default;

  &__status {
    &_online {
      color: var(--primary-text-online-color);
    }

    &_offline {
      color: var(--primary-text-offline-color);
    }
  }
}
