@import "mixins";

.general-body {
  overflow: hidden;
  margin: 0;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

.layout {
  display: grid;
  height: 100vh;

  &__chat {
    background-image: url(/images/chat-bg.png);
  }

  @include mobile {
    &__threads {
      display: none;
    }
  }

  @include desktop {
    grid-template-areas: "layout__threads layout__chat";
    grid-template-columns: 380px 1fr;

    &__threads {
      grid-area: layout__threads;
    }

    &__chat {
      grid-area: layout__chat;
    }
  }
}
