@import "mixins";

.message {
  @include column;

  padding: 10px 10px;
  gap: 5px;

  &_to {
    margin-left: auto;
  }

  &_from {
    margin-right: auto;
  }

  &__text {
    margin: 0;
  }

  &__time {
    align-self: flex-end;
  }

  &__avatar {
    &_to {
      align-self: flex-end;
    }
  }

  &__content {
    cursor: default;

    &_to {
      background: var(--primary-message-backgroud-color);
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      border-top-left-radius: 20px;
      color: var(--primary-text-color);
    }

    &_from {
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;

      border-top-right-radius: 20px;
      background: var(--primary-message-backgroud-color-additional);
      color: var(--primary-text-color-additional);
    }

    /*
    Советую вынести всё что связанно с border-radius в отдельный класс, ну или хотя бы в переменную, если тебе понадобится
    поменять радиус, тебе придется искать все места. В данном кейсе они близко, но не факт, что всё так и останется.
    Лучше всегда сделать лишний класс, чем копиписастить
    */
  }
}
