.find-panel {
  background: var(--primary-backgroud-color);
  width: 100%;
  border-radius: 10px;
  padding: 4px 10px;

  display: flex;
  align-items: center;
  border: 2px solid transparent;
  box-sizing: border-box;

  &:focus-within {
    border: 2px solid var(--primary-active);
  }

  &__input {
    font-size: var(--font-size-main);
    width: 100%;
    outline: none;
    border: none;
  }
}
