@import "inner-content";
@import "username";
@import "avatar";

.thread {
  display: flex;
  background: var(--primary-backgroud);
  padding: 10px 10px;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  &_focus {
    background: var(--primary-active);
  }

  &__time {
    align-self: flex-end;
  }

  &__inner {
    flex: 1 1 auto;
  }
}
