<div class="message message_from">
  <img width="24" height="24" class="message__avatar message__avatar_from avatar avatar_small"
       src="assets/images/avatar.png" alt="avatar"/>
  <div class="message__content message message__content_from">
    <p class="message__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
      nostrum aut nam eaque veritatis quos, aliquid, molestiae
      repudiandae harum, numquam libero in id cumque nemo
      voluptatibus laboriosam illum. Quia quis consectetur molestiae
      modi fugiat, deleniti architecto? Obcaecati repudiandae
      praesentium dolorem!
    </p>
    <span class="message__time">11:21</span>
  </div>
</div>
