.avatar {
  /*
  Я так понимаю, такое значение указано, чтобы сделать аватар круглым. Если да, то есть фича
  border-radius:50% делает блок круглым независимо от размера. Твоё решение будет работать некорректно, когда изменится размер аватара
  */
  border-radius: 50px;
  width: 48px;

  // Если это модификатор, то название не самое подходящее, в документации написано как следует называть модификаторы
  &_chat {
    width: 24px;
  }
}
