::-webkit-scrollbar {
  width: 0;
}

.box-scroll {
  display: flex;
  flex-direction: column;
  max-height: 100vh;

  &__content {
    flex: 1 1 auto;
    overflow-y: auto;
  }

  &__edge-side {
    background: var(--primary-color);
    color: var(--primary-text-color);
  }
}
