@import "mixins";

.general-body {
  overflow: hidden;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

.layout {
  display: grid;
  height: 100vh;

  &__chat {
    background-image: url(/images/chat-bg.png);
  }

  @include mobile {
    &__threads {
      display: none;
    }
    /*
    Совет на будущее, закоменченный код лучше удалять, ибо вполне возможен когда кто-то будет чистить код
    и увидит комент, человек не удалит его, потому что будет думать, что он важен и таким образом в проекте будет много мусора в виде закоменченного кода
    */
    // &__chat {
    //   display: none;
    // }
  }

  @include desktop {
    grid-template-areas: "layout__threads layout__chat";
    grid-template-columns: 380px 1fr;

    &__threads {
      grid-area: layout__threads;
    }

    &__chat {
      grid-area: layout__chat;
    }
  }
}
