.send-message-form {
  display: flex;
  padding: 10px 10px;
  align-items: center;
  gap: 10px;

  &__input {
    &_file {
      display: none;
    }

    &_text {
      font-size: var(--font-size-main);
      flex: 1 1 auto;
      background: var(--primary-input-message-background-color);
      padding: 10px 20px;
      border-radius: 20px;
      color: var(--primary-text-color);
      outline: none;
      border: 2px solid transparent;

      &:focus {
        border: 2px solid var(--primary-active);
      }
    }
  }

  &__button {
    flex-shrink: 1;
  }
}
