.username {
  color: var(--primary-text-color);

  &_main {
    font-size: 24px;
  }

  &_thread {
    font-size: 18px;  // Советую вынести в переменные значения шрифтов. Например, --thread-username-font-size
  }

  &_chat {
    font-size: 24px;
  }
}
