@charset "UTF-8";
::-webkit-scrollbar {
  width: 0;
}

.box-scroll {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}
.box-scroll__content {
  flex: 1 1 auto;
  overflow-y: auto;
}
.box-scroll__edge-side {
  background: var(--primary-color);
  color: var(--primary-text-color);
}

.header {
  display: flex;
  padding: 5px 10px;
  flex-wrap: wrap;
}

.user-info {
  display: flex;
  list-style: none;
  padding: 0;
  align-items: center;
  gap: 10px;
  cursor: default;
}

.find-panel {
  background: var(--primary-backgroud-color);
  width: 100%;
  border-radius: 10px;
  padding: 4px 10px;
  display: flex;
  align-items: center;
  border: 2px solid transparent;
}
.find-panel:focus-within {
  border: 2px solid var(--primary-active);
}
.find-panel__input {
  font-size: var(--font-size-main);
  width: 100%;
  outline: none;
  border: none;
}

.threads-list {
  list-style: none;
  padding: 0;
}

.thread {
  display: flex;
  background: var(--primary-backgroud);
  padding: 10px 10px;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.thread_focus {
  background: var(--primary-active);
}
.thread__time {
  align-self: flex-end;
}
.thread__inner {
  flex: 1 1 auto;
}

.avatar {
  border-radius: 50%;
  width: 48px;
}
.avatar_small {
  width: 24px;
}

.inner-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.inner-content__item_recent {
  color: var(--primary-color);
}

.threads-header__user-info {
  margin: 0;
}
.threads-header__find_panel {
  margin: 10px 0;
}

.chat-header {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: default;
}
.chat-header__status_online {
  color: var(--primary-text-online-color);
}
.chat-header__status_offline {
  color: var(--primary-text-offline-color);
}

.username {
  color: var(--primary-text-color);
}
.username_main {
  font-size: var(--font-size-large);
}
.username_thread {
  font-size: var(--font-size-main);
}
.username_chat {
  font-size: var(--font-size-large);
}

.send-message-form {
  display: flex;
  padding: 10px 10px;
  align-items: center;
  gap: 10px;
}
.send-message-form__input_file {
  display: none;
}
.send-message-form__input_text {
  width: 100%;
  font-size: var(--font-size-main);
  flex: 1;
  background: var(--primary-input-message-background-color);
  padding: 10px 20px;
  border-radius: 20px;
  color: var(--primary-text-color);
  outline: none;
  border: 2px solid transparent;
}
.send-message-form__input_text:focus {
  border: 2px solid var(--primary-active);
}

.button {
  border: none;
  background: none;
  cursor: pointer;
}

.messages-list {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}
.messages-list__message {
  max-width: 80%;
}

.message {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  gap: 5px;
}
.message_to {
  margin-left: auto;
}
.message_from {
  margin-right: auto;
}
.message__text {
  margin: 0;
}
.message__time {
  align-self: flex-end;
}
.message__avatar_to {
  align-self: flex-end;
}
.message__content {
  cursor: default;
  /*
  Советую вынести всё что связанно с border-radius в отдельный класс, ну или хотя бы в переменную, если тебе понадобится
  поменять радиус, тебе придется искать все места. В данном кейсе они близко, но не факт, что всё так и останется.
  Лучше всегда сделать лишний класс, чем копиписастить
  */
}
.message__content_to {
  background: var(--primary-message-backgroud-color);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  color: var(--primary-text-color);
}
.message__content_from {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background: var(--primary-message-backgroud-color-additional);
  color: var(--primary-text-color-additional);
}

.threads {
  display: flex;
}
.threads__header {
  justify-content: space-between;
}
.threads__list {
  margin: 0;
}

.general-body {
  overflow: hidden;
  margin: 0;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

.layout {
  display: grid;
  height: 100vh;
}
.layout__chat {
  background-image: url(/images/chat-bg.png);
}
@media screen and (max-width: 768px) {
  .layout__threads {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .layout {
    grid-template-areas: "layout__threads layout__chat";
    grid-template-columns: 380px 1fr;
  }
  .layout__threads {
    grid-area: layout__threads;
  }
  .layout__chat {
    grid-area: layout__chat;
  }
}

:root {
  --primary-text-color: #ffffff;
  --primary-text-color-additional: #000000;
  --primary-color: #343434;
  --primary-active: #25a0e4;
  --primary-backgroud-color: #ffffff;
  --primary-message-backgroud-color: #078183;
  --primary-message-backgroud-color-additional: #d6d6d6;
  --primary-input-message-background-color: #494949;
  --primary-text-online-color: #07da07;
  --primary-text-offline-color: #8f8f8f;
  --font-size-main: 18px;
  --font-size-large: 24px;
}

/*# sourceMappingURL=style.css.map */
