@import "box-scroll";
@import "header";
@import "user-info";
@import "find-panel";
@import "threads-list";
@import "thread";
@import "avatar";
@import "inner-content";
@import "threads-header";
@import "chat-header";
@import "username";
@import "send-message-form";
@import "button";
@import "messages-list";
@import "message";
@import "threads";
@import "layout";

:root {
  --primary-text-color: #ffffff;
  --primary-text-color-additional: #000000;
  --primary-color: #343434;
  --primary-active: #25a0e4;
  --primary-backgroud-color: #ffffff;
  --primary-message-backgroud-color: #078183;
  --primary-message-backgroud-color-additional: #d6d6d6;
  --primary-input-message-background-color: #494949;
  --primary-text-online-color: #07da07;
  --primary-text-offline-color: #8f8f8f;
  --font-size-main: 18px;
  --font-size-large: 24px;
}