<form action="" class="send-message-form">
  <label class="button" for="attach">
    <img width="32" height="32" src="assets/images/attach-button.png" alt="Attach"/>
  </label>
  <input
    class="send-message-form__button send-message-form__input_file button"
    type="file"
    id="attach"
  />
  <label for="main-input"></label>
  <input
    class="send-message-form__input send-message-form__input_text"
    type="text"
    id="main-input"
  />
  <button class="button" type="submit">
    <img width="32" height="32" src="assets/images/send-button.png" alt="Send"/>
  </button>
</form>
