@import "header";
@import "button";

.threads-header {

  &__user-info {
    margin: 0;
  }

  &__find-panel {
    width: 100%;
    margin: 10px 0;
  }

  &__settings-popup {
    position: absolute;
    top: 60px;
    left: 270px;
  }
}
